@use '../utils/utils' as *;

button.primary {
  background-color: $primary-variant;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: 1.2rem 2.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.85);
}

button.secondary {
  border: 0.25rem solid $primary-variant;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.2rem 2.25rem;
  background-color: $secondary-variant;
  color: $primary-variant;

  &:hover {
    border: $secondary-variant 0.25rem solid;
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: $primary-variant;
    color: $tertiary-variant;
    opacity: 0.9;
  }

  &:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
}

button.tertiary {
  background-color: rgba(109, 109, 110, 0.7);
  color: $tertiary-variant;
  @include flex-center;
  border-radius: 0.4rem;
  height: 4.8rem;
  width: 15rem;
  text-transform: uppercase;
  transition: all 350ms ease-in-out;
  &:hover {
    background-color: rgba(109, 109, 110, 0.3);
  }
}

.secondary,
.primary:disabled {
  background: #fff;
  color: #ccc;
  cursor: no-drop;
}
