@use '../utils/utils' as *;

.content {

  // width: 100%;
  background-color: rgba(14, 14, 14, 1);
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}

.outer {
  .wrap {
    height: 80vh;
    overflow: hidden;
    position: relative;

    @include respond-below(md) {
      height: 80vh;
    }
    .image > * {
      position: relative;
      object-fit: cover;
      overflow: hidden;
      height: 100vh;
      object-position: center top;
      @include respond-below(md) {
        height: 80vh;
      }
      @include respond-above(xxl) {
        object-position: center center;
      }
    }

    &:before {
      content: '';
      background: linear-gradient(
        180deg,
        transparent 0%,
        rgba(14, 14, 14, 1) 100%
      );
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.content {
  position: relative;
  z-index: 2;
  padding: $space-m;

  .inner {

    h4 {
      font-size: 2.441rem;
      line-height: 1;
    }

    h1,
    h4 {
      line-height: 1;
      color: $primary-variant;
    }

    p {
      color: $tertiary-variant;
    }

    .heading {
      .title {
        position: relative;
        h1 {
          font-size: 10vh;
          z-index: 1;
          line-height: 0.7;
          @include respond-below(md) {
            font-size: 22vw;
          }
        }
      }
      p {
        color: $tertiary-variant;
      }

      .buttons {
        margin-top: $space-l;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
.info {
  gap: $space-s $space-m;
  .director {
    margin-top: $space-l;
    p {
      margin-top: $space-xs;
      color: $tertiary-variant;
    }
  }
}
.synopsis {
  // width: 50vw;
  p {
    color: $tertiary-variant;
    font-size: 1.563rem;
    margin: $space-s 0;
  }
}

.details {
  margin-top: $space-l;
  display: flex;
  gap: 0.5rem;
}
.cast {
  margin-top: $space-l;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-m;
  .actor {
    display: flex;
    align-items: center;
    gap: 2rem;
    .image {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      overflow: hidden;
    }

    p {
      line-height: 1;
    }
  }
}
