@use '../utils/utils' as *;

.form {
  height: 100%;
  .field {
    margin-top: 1rem;
    @include flex-column;
  }

  p {
    color: red;
  }
  p::before {
    display: inline;
    content: '⚠ ';
  }
  label {
    color: $primary-variant;
    margin-bottom: .25rem;
  }

  input {
    padding: 10px 15px;
    margin-bottom: 1.2rem;

  }
  // .button {
  //   margin-top: $space-m;
  //   button {
  //     color: $secondary-variant;
  //     background: $primary-variant;
  //     background: -webkit-linear-gradient(to right, #e3c497, $primary-variant);
  //     background: linear-gradient(to right, #e3c497, $primary-variant);
  //     padding: 1rem 2.4rem;
  //     width: 100%;
  //     // height: 4rem;
  //   }
  // }
  button[type='submit'] {
    color: $secondary-variant;
    background: $primary-variant;
    background: -webkit-linear-gradient(to right, #e3c497, $primary-variant);
    background: linear-gradient(to right, #e3c497, $primary-variant);
    text-transform: uppercase;
    border: none;
    margin-top: 4rem;
    font-weight: 500;
    padding: 1rem;
    width: 100%;
    border-radius: 0.4rem;
  }
}
