@use '../utils/utils' as *;
.container {
  margin-left: $space-xl;

  .category {
    margin: $space-m 0;
    h3 {
      font-size: 3.052rem;
      color: $primary-variant;

      @include respond-below(xs) {
        font-size: 2.441rem;
        line-height: 26px;
        font-weight: 600;
      }
    }
  }

  .wrap {
    position: relative;
    height: 100%;
    margin-bottom: $space-xl;
  }
}
