@use '../utils/utils' as *;

.container {
  color: red;
  margin-top: 20rem;
  height: 100vh;
}

.slide {
  background-color: pink;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  &:hover {
    scale: 1.2;
  }
}
