@use '../utils/utils' as *;

.accordion {
  height: auto;
  overflow: hidden;
  width: 100%;

  .item {
    button {
      background-color: rgba(0, 0, 0, 0.4);
      color: $primary-variant;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      width: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      height: 7.9rem;
      h3 {
        font-size: 4.3rem;
        line-height: 1;
        @include respond-below(md) {
          font-size: 2.441rem;
        }
      }
      span {
        font-size: 3.583rem;
        color: $primary-variant;
        @include respond-below(md) {
          font-size: 3.441rem;
        }
      }
    }

    .answer {
      color: $tertiary-variant;
      width: 100%;
      height: 0;
      font-size: 1.953rem;
      background-color: rgba(0, 0, 0, 0.4);
      p {
        padding: $space-s;
      }
    }
  }
}
