@use '../utils/utils' as *;

.container {
  padding: $space-m 0;
  width: 100%;
  height: fit-content;
  position: relative;
  height: fit-content;

  .category {
    margin: $space-m 0;
    h3 {
      font-size: 3.052rem;
      color: $primary-variant;

      @include respond-below(xs) {
        font-size: 2.441rem;
        line-height: 26px;
        font-weight: 600;
      }
    }
  }
  .wrap  {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
  }
}
