@use '../utils/utils' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $tertiary-variant;
  font-size: 1.563rem;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $secondary-variant;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: $body-font;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

input,
textarea,
select {
  /* all: revert; */
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}
/* Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering */

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

p {
  font-family: $body-font;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

#baseComponent {
  visibility: hidden;
  overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.fullScreen {
  opacity: 1;
}

.no-scroll {
  overflow: hidden !important;
}

button {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: $body-font;
  font-size: 1.5rem;
  text-transform: uppercase;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  border: none;
}

.image-item {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 8;
  border: solid blue 1px;
  position: relative;
}

@font-face {
  font-family: 'revicons';
  fallback: fallback;
  src: url('/fonts/revicons.woff') format('woff'),
    url('/fonts/revicons.ttf') format('ttf'),
    url('/fonts/revicons.eot') format('ttf');
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: visible;
  position: relative;
  height: fit-content;
}

.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1.75rem;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
  position: relative;
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  z-index: 1000;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  min-width: 43px;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.react-multiple-carousel__arrow::before {
  font-size: 3rem;
  color: #d4a25b;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: bold;
}

.react-multiple-carousel__arrow:disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
}

.react-multiple-carousel__arrow--left {
  left: 0px;
}

.react-multiple-carousel__arrow--left::before {
  content: '\e824';
}

.react-multiple-carousel__arrow--right {
  right: 0px;
}

.react-multiple-carousel__arrow--right::before {
  content: '\e825';
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}

.react-multi-carousel-dot button:hover:active {
  background: #080808;
}

.react-multi-carousel-dot--active button {
  background: #080808;
}

.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }

  .react-multi-carousel-track {
    overflow: visible !important;
  }
}

[dir='rtl'].react-multi-carousel-list {
  direction: rtl;
}

.rtl.react-multiple-carousel__arrow--right {
  right: auto;
  left: calc(4% + 1px);
}

.rtl.react-multiple-carousel__arrow--right::before {
  content: '\e824';
}

.rtl.react-multiple-carousel__arrow--left {
  left: auto;
  right: calc(4% + 1px);
}

.rtl.react-multiple-carousel__arrow--left::before {
  content: '\e825';
}
