@use '../utils/utils' as *;

.container {
  margin-bottom: $space-xl;
  position: relative;
  max-height: 60.5rem;
  width: 100%;
  background-color: $primary-variant;
  .outer {
    display: flex;
    justify-content: space-between;
    max-height: 65.5rem;
    position: relative;
    .overlay {
      overflow: hidden;
      display: inline-block;
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      background: -webkit-linear-gradient(
        to left,
        rgba(227, 196, 151, 0.3),
        rgba(212, 162, 91, 0.4)
      );
      background: linear-gradient(
        to left,
        rgba(227, 196, 151, 0.3),
        rgba(212, 162, 91, 0.4)
      );
    }
    .content {
      padding: $space-m 0;
      color: $secondary-variant;
      z-index: 1;
      margin-inline: $space-m;
      h1 {
        font-size: 5.96rem;
        max-width: 60rem;
      }
      p {
        margin: $space-m 0;
        max-width: 55rem;
        width: 100%;
        font-size: 1.563rem;
      }

      h4 {
        font-size: 2.074rem;
      }
      .buttons {
        margin: $space-m 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        // z-index: 2;
        position: relative;
        button:nth-child(1) {
          cursor: pointer;
          background-color: transparent;
          border: 3.5px solid $secondary-variant;
          border-radius: 50%;
          background-color: rgba(20, 20, 20, 0.7);

          height: 6.5rem;
          width: 6.5rem;
          @include flex-center;
          span {
            margin-left: 0.5rem;
            font-size: 3rem;
            color: $primary-variant;
          }
        }
        button:nth-child(2) {
          height: 4.4rem;
          padding: 1.1rem 0 1.2rem 0;
          min-width: 144px;
          border-radius: 0.4rem;
          color: $tertiary-variant;
          background-color: rgba(62, 59, 68, 0.7);
        }
      }
    }
  }
  .wrap {
    max-height: 65.5rem;
    width: auto;
    aspect-ratio: 6 / 4;
    object-fit: cover;

    .image {
      min-width: 50rem;
      object-fit: cover;
      width: 'auto';
      height: '100%';
    }

    .overlay {
      background: linear-gradient(-90deg, transparent 80%, #d4a25b 100%);
    }
  }
}
