@use '../utils/utils' as *;

.container {
  margin-top: $space-2xl-3xl;
  background-color: $secondary-variant;
  width: 100%;
  height: 100%;

  .outer {
    max-width: 192rem;
    padding: $space-2xl-3xl $space-m;
    margin-inline: auto;
    .inner {
      width: max-content;
      margin-inline: auto;
      h1 {
        font-size: 8.916rem;
        color: $primary-variant;
        text-align: center;
      }
      .wrap {
        margin-top: $space-2xl-3xl;
        margin-inline: auto;
        max-width: 65rem;
        div:not(:first-child) {
          margin-top: 3rem;
        }
      }
    }
  }
}
