/* One-up pairs */
/* Custom pairs */
/* One-up pairs */
/* Custom pairs */
.container {
  padding-top: 12rem;
  width: 100%;
  min-height: calc(100vh - 17rem);
}
.container .outer {
  position: relative;
  min-height: calc(100vh - 17rem);
  width: calc(100% - clamp(3.94rem, 3.13rem + 4.02vw, 6rem));
  z-index: 2;
  border-radius: 5rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container .outer .inner {
  top: 0px;
  position: absolute;
  margin-inline: auto;
  min-height: 100vh;
  width: 100%;
}
.container .outer .inner video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
  margin-inline: auto;
  width: 100%;
}
.container .outer .overlay {
  margin-inline: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 46%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#bf000000", endColorstr="#00000000",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  z-index: 2;
  cursor: pointer;
}
.container .outer .overlay .content {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 17rem);
  padding-left: clamp(3.94rem, 3.13rem + 4.02vw, 6rem);
}
.container .outer .overlay .content :nth-child(1) h1 {
  font-size: 12.839rem;
  line-height: 1;
  color: #d4a25b;
}
.container .outer .overlay .content :nth-child(1) p {
  color: #fffefc;
  font-size: 2.4rem;
  max-width: 45rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.container .outer .overlay .content :nth-child(1) button {
  align-items: center;
  background-color: #d4a25b;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.container .outer .overlay .content :nth-child(1) button:hover,
.container .outer .overlay .content :nth-child(1) button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.container .outer .overlay .content :nth-child(1) button:hover {
  transform: translateY(-1px);
}
.container .outer .overlay .content :nth-child(1) button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}/*# sourceMappingURL=hero.module.css.map */