@use '../utils/utils' as *;

.container {
  background-color: $secondary-variant;
  width: 100%;

  // z-index: 1;
  position: relative;
  // height: 100%;
  overflow: hidden;
  .outer {
    overflow: hidden;
  }
}
