@use '../utils/utils' as *;

.container {
  margin-top: $space-2xl-3xl;
  max-width: 192rem;
  margin-inline: auto;
  .outer {
    padding-top: $space-2xl-3xl;
    .flex {
      @include even-cols;
      gap: $space-l-xl $space-l-xl;
      padding-inline: $space-s;
      .wrap {
        .image {
          aspect-ratio: 16/ 9;
          height: auto;
          position: relative;
          display: block;
          width: 100%;
        }

        p {
          width: 100%;
          font-size: 1.2rem;
        }
      }
    }
    .content {
      padding-right: $space-s;
      @include respond-above(md) {
        padding-left: $space-s;
        padding-right: 0px;
      }

      .inner {
        h1 {
          @include title;
        }

        p {
          @include subtitle;
        }
      }
    }
  }
}
