@use '../utils/utils' as *;

.container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;

  .outer {
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  
    cursor: pointer;
    padding: 1rem;
    // background: linear-gradient(to right, #e3c497, $primary-variant);
    border-radius: 1rem;

    .inner {
      position: relative;
      border-radius: 1rem;
      border: solid 5px $primary-variant;
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
      overflow: hidden;
      @include flex-center;

      .video {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        position: absolute;
        display: none;
        z-index: 1;
        display: block;
        opacity: 0;
        transform: all 350ms ease-in-out;
      }
      .image {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        @include flex-center;

        .wrap {
          aspect-ratio: 16 / 9;

          width: 100%;
          height: auto;
          position: relative;
          display: block;
        }
      }

      &:hover .video {
        z-index: 2;
        opacity: 1;
        display: block;
      }
    }
  }
}
