@use '../utils/utils' as *;

.container {
  position: relative;
  height: 4.6rem;
  width: fit-content;
  .outer {
    display: flex;
    align-items: center;
    gap: $space-m;
    z-index: 10;
    position: relative;
    padding-left: $space-m;
    color: $tertiary-variant;
    p {
      font-family: $heading-font;
      font-size: 1.728rem;
      margin-bottom: .5rem
    }
    .wrap {
      border: solid 2px $tertiary-variant;
      height: 5rem;
      width: 5rem;
      background-color: white;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: rgba(247, 226, 195, 0.55) 0px 22px 80px 1px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: $primary-variant;
        border-color: $primary-variant;
      }
      .image {
        height: 5.25rem;
        width: auto;
        aspect-ratio: 376 / 413;
        position: relative;
        object-fit: cover;
      }
    }
  }
}

.links {
  position: fixed;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  top: 0;
  background: linear-gradient(to right, #e3c497, $primary-variant);
  height: fit-content;

  width: 20rem;
  ul {
    padding-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    li {
      padding-inline: $space-m;
      font-weight: 400;
      width: 100%;
      height: 3.75rem;
      @include flex-center-y;
      cursor: pointer;
      &:hover {
        background-color: $secondary-variant;
        color: $tertiary-variant;
      }
    }
  }
}

.outside {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: transparent;
  right: 0;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
}
