@use '../utils/utils' as *;

.container {
  height: 100vh;
  width: 100%;
  background: radial-gradient(#141414, black);
  display: flex;
  justify-content: center;
  align-items: center;
  .outer {
    span {
      color: $primary-variant;
      font-size: 20vw;
      font-family: $heading-font;
    }
    p {
      text-align: center;
      color: $tertiary-variant;
    }
  }
}
