@use '../utils/utils' as *;

.container {
  background-color: $secondary-variant;
  width: 100%;

  padding: $space-2xl-3xl $space-l-xl;
  .outer {
    padding-top: $space-2xl-3xl;
    margin-inline: auto;
    h1 {
      color: $primary-variant;
      font-size: 4.768rem;
    }
    .field {
      margin-top: 1rem;
      @include flex-column;
    }

    p {
      color: red;
    }
    p::before {
      display: inline;
      content: '⚠ ';
    }
    label {
      color: $primary-variant;
      margin-bottom: 0.25rem;
    }

    input {
      padding: 10px 15px;
      margin-bottom: 1.2rem;
    }
    .inner {
      width: 100%;

      align-items: stretch;
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      .wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-flow: dense;
      }
    }
  }
}
